body {
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #FFFBFF;
}
.navbar-custom, header  {
    background: #FFFBFF;
}
.navbar-custom .navbar-brand, .navbar-custom .navbar-brand.active, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-nav li a, header {
    color: #565A5C;
}
.navbar-custom, h1, h2, h3, h4, h5, h6 {
    font-family: Raleway,sans-serif;
}
header .site-heading h1, header .page-heading h1, header .post-heading h1 {
  font-family: Cabin Sketch,sans-serif;
}
header .site-heading .subheading {
  font-family: Raleway,sans-serif;
}
.post-preview>.post-meta, .nav-next, .nav-previous {
    font-family: Playfair Display,serif;
    font-weight: 400;
}
.nav-next>a .meta-nav, .nav-previous>a .meta-nav  {
  font-family: Raleway,sans-serif;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    color: #E387A7; /*rgba(227,135,167,.8);*/
  }
footer a.fa:focus, a.fa:hover {
    color: #0AA58D;
}
.intro-header .site-heading h1 {
    font-size: 74px;
}
.post-navigation .nav-next, .post-navigation .nav-previous {
    border-top: solid 4px transparent;
    display: inline-block;
    float: left;
    width: 50%;
    vertical-align: top;
    color: #404040;
    font-size: 17.5px;
    line-height: 1.2;
    padding: 6% 0 7% 0;
    transition: .07s ease-in;
}
.post-navigation .nav-next {
    float: right;
    padding-left: 5%;
    text-align: right;
}
.post-navigation .meta-nav {
    clear: both;
    float: left;
    margin-bottom: 10px;
    width: 100%;
    color: #777;
    font-size: 13.5px;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.text-primary {
    color: #0AA58D;
}
footer .disclaimer {
    font-size: 12px;
    font-family: Playfair Display,serif;
    margin-bottom: 0;
    text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  .intro-header .site-heading h1 {
      font-size: 4rem;
  }
}
