body {
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #FFFBFF;
}
.navbar-custom, header  {
    background: #FFFBFF;
}
.navbar-custom .navbar-brand, .navbar-custom .navbar-brand.active, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-nav li a, header {
    color: #565A5C;
}
.navbar-custom, h1, h2, h3, h4, h5, h6 {
    font-family: Raleway,sans-serif;
}
header .site-heading h1, header .page-heading h1 {
  font-family: Cabin Sketch,sans-serif;
}
header .site-heading .subheading {
  font-family: Raleway,sans-serif;
}
.post-preview>.post-meta {
    font-family: Playfair Display,serif;
    font-weight: 400;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    color: #E387A7; /*rgba(227,135,167,.8);*/
  }
